<div class="customCard">
  <div class="cardImg">
    <img
      [src]="pet.image"
      (error)="pet.image = 'assets/images/user.png'"
      [alt]="pet.name"
    />
  </div>
  <div class="cardContent">
    <div>
      <h1 class="cardTitle">
        {{ pet.name | titlecase }}
        <div class="customDropdown dropdown" *ngIf="!showSelect">
          <a id="petAction" data-toggle="dropdown">
            <i class="fa fa-ellipsis-v"></i>
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="petAction"
          >
            <a class="dropdown-item" (click)="editPet()"> Edit </a>
            <a
              class="dropdown-item text danger"
              data-toggle="modal"
              data-target="#confirmDelete"
            >
              Delete
            </a>
          </div>
        </div>
      </h1>
      <p class="text primary">
        Breed: <b>{{ pet.breed }}</b>
      </p>
      <p class="text primary">
        MicroChipped: <b class="text success" *ngIf="pet.microchiped">Yes</b
        ><b class="text danger" *ngIf="!pet.microchiped">No</b>
      </p>
      <p class="text primary">
        Vaccination: <b class="text success" *ngIf="pet.vaccination">Yes</b
        ><b class="text danger" *ngIf="!pet.vaccination">No</b>
      </p>
      <p class="text primary">
        Sex: <b>{{ pet.sex === 0 ? "Female" : "Male" }}</b>
      </p>
      <div class="cardAction">
        <a
          class="myBtn btnSm ml-auto text-light"
          (click)="view()"
          *ngIf="!showSelect"
        >
          View
        </a>
        <a
          class="myBtn btnSm ml-auto text-light"
          (click)="select()"
          *ngIf="showSelect"
        >
          Select
        </a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirmDelete">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content customModal">
      <div class="modal-body">
        <h2 class="modalTitle">Are you sure you want to Delete?</h2>
        <div class="formDesign">
          <div class="text-right">
            <a
              class="myBtn btnSm text-light"
              (click)="removePet()"
              data-dismiss="modal"
              >Yes</a
            >
            <a class="myBtn btnSm simple" data-dismiss="modal">No</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
