<div class="row">
  <div class="col-12 col-md-7 col-lg-6">
    <div class="customTabs">
      <a class="tab" [routerLink]="['/account']">Service Provider</a>
      <a class="tab active" [routerLink]="['/account', 'pets']">Your Pets</a>
    </div>
  </div>
  <div class="col-12 col-md-5 col-lg-6">
    <div class="searchWrapper">
      <div class="search">
        <input type="text" placeholder="Search for anything" />
        <button>
          <svg viewBox="0 0 24 24">
            <use xlink:href="#search"></use>
          </svg>
        </button>
        <div class="searhSuggestion d-none">
          <div class="suggetItem">
            <div class="userImg"><img src="assets/images/user.png" /></div>
            <h3>Anna-Marie Modeste</h3>
          </div>
          <div class="suggetItem">
            <div class="userImg"><img src="assets/images/user.png" /></div>
            <h3>Anna-Marie Modeste</h3>
          </div>
          <div class="suggetItem">
            <div class="userImg"><img src="assets/images/user.png" /></div>
            <h3>Anna-Marie Modeste</h3>
          </div>
          <div class="suggetItem">
            <div class="userImg"><img src="assets/images/user.png" /></div>
            <h3>Anna-Marie Modeste</h3>
          </div>
          <div class="suggetItem">
            <div class="userImg"><img src="assets/images/user.png" /></div>
            <h3>Anna-Marie Modeste</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <div class="customCard">
      <div class="cardImg">
        <img src="assets/images/petImg-1.png" alt="" />
      </div>
      <div class="cardContent">
        <div>
          <h1 class="cardTitle">
            Pet
            <div class="customDropdown dropdown">
              <a id="petAction" data-toggle="dropdown">
                <svg viewBox="0 0 4 18">
                  <use xlink:href="#eclipses"></use>
                </svg>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="petAction"
              >
                <a class="dropdown-item" href="#"> Edit </a>
                <a
                  class="dropdown-item text danger"
                  href="#"
                  data-toggle="modal"
                  data-target="#confirmDelete"
                >
                  Delete
                </a>
              </div>
            </div>
            <!-- <a class="text danger" href="javascript:void(0)" data-toggle="modal"
                                      data-target="#confirmDelete">
                                      
                                  </a> -->
          </h1>
          <p class="text primary"><b>Breed</b></p>
          <p class="text primary">
            Microshiped: <b class="text success">Yes</b>
          </p>
          <p class="text primary">Sex: <b>Male</b></p>
          <div class="cardAction">
            <a
              class="myBtn btnSm ml-auto"
              href="javascript:void(0)"
              data-toggle="modal"
              data-target="#viewPet"
              >View</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="customCard">
      <div class="cardImg">
        <img src="assets/images/petImg-1.png" alt="" />
      </div>
      <div class="cardContent">
        <div>
          <h1 class="cardTitle">
            Pet
            <div class="customDropdown dropdown">
              <a id="petAction" data-toggle="dropdown">
                <svg viewBox="0 0 4 18">
                  <use xlink:href="#eclipses"></use>
                </svg>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="petAction"
              >
                <a class="dropdown-item" href="#"> Edit </a>
                <a
                  class="dropdown-item text danger"
                  href="#"
                  data-toggle="modal"
                  data-target="#confirmDelete"
                >
                  Delete
                </a>
              </div>
            </div>
            <!-- <a class="text danger" href="javascript:void(0)" data-toggle="modal"
                                      data-target="#confirmDelete">
                                      
                                  </a> -->
          </h1>
          <p class="text primary"><b>Breed</b></p>
          <p class="text primary">
            Microshiped: <b class="text success">Yes</b>
          </p>
          <p class="text primary">Sex: <b>Male</b></p>
          <div class="cardAction">
            <a
              class="myBtn btnSm ml-auto"
              href="javascript:void(0)"
              data-toggle="modal"
              data-target="#viewPet"
              >View</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="customCard">
      <div class="cardImg">
        <img src="assets/images/petImg-1.png" alt="" />
      </div>
      <div class="cardContent">
        <div>
          <h1 class="cardTitle">
            Pet
            <div class="customDropdown dropdown">
              <a id="petAction" data-toggle="dropdown">
                <svg viewBox="0 0 4 18">
                  <use xlink:href="#eclipses"></use>
                </svg>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="petAction"
              >
                <a class="dropdown-item" href="#"> Edit </a>
                <a
                  class="dropdown-item text danger"
                  href="#"
                  data-toggle="modal"
                  data-target="#confirmDelete"
                >
                  Delete
                </a>
              </div>
            </div>
            <!-- <a class="text danger" href="javascript:void(0)" data-toggle="modal"
                                      data-target="#confirmDelete">
                                      
                                  </a> -->
          </h1>
          <p class="text primary"><b>Breed</b></p>
          <p class="text primary">
            Microshiped: <b class="text success">Yes</b>
          </p>
          <p class="text primary">Sex: <b>Male</b></p>
          <div class="cardAction">
            <a
              class="myBtn btnSm ml-auto"
              href="javascript:void(0)"
              data-toggle="modal"
              data-target="#viewPet"
              >View</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="customCard">
      <div class="cardImg">
        <img src="assets/images/petImg-1.png" alt="" />
      </div>
      <div class="cardContent">
        <div>
          <h1 class="cardTitle">
            Pet
            <div class="customDropdown dropdown">
              <a id="petAction" data-toggle="dropdown">
                <svg viewBox="0 0 4 18">
                  <use xlink:href="#eclipses"></use>
                </svg>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="petAction"
              >
                <a class="dropdown-item" href="#"> Edit </a>
                <a
                  class="dropdown-item text danger"
                  href="#"
                  data-toggle="modal"
                  data-target="#confirmDelete"
                >
                  Delete
                </a>
              </div>
            </div>
            <!-- <a class="text danger" href="javascript:void(0)" data-toggle="modal"
                                      data-target="#confirmDelete">
                                      
                                  </a> -->
          </h1>
          <p class="text primary"><b>Breed</b></p>
          <p class="text primary">
            Microshiped: <b class="text success">Yes</b>
          </p>
          <p class="text primary">Sex: <b>Male</b></p>
          <div class="cardAction">
            <a
              class="myBtn btnSm ml-auto"
              href="javascript:void(0)"
              data-toggle="modal"
              data-target="#viewPet"
              >View</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="customCard">
      <div class="cardImg">
        <img src="assets/images/petImg-1.png" alt="" />
      </div>
      <div class="cardContent">
        <div>
          <h1 class="cardTitle">
            Pet
            <div class="customDropdown dropdown">
              <a id="petAction" data-toggle="dropdown">
                <svg viewBox="0 0 4 18">
                  <use xlink:href="#eclipses"></use>
                </svg>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="petAction"
              >
                <a class="dropdown-item" href="#"> Edit </a>
                <a
                  class="dropdown-item text danger"
                  href="#"
                  data-toggle="modal"
                  data-target="#confirmDelete"
                >
                  Delete
                </a>
              </div>
            </div>
            <!-- <a class="text danger" href="javascript:void(0)" data-toggle="modal"
                                      data-target="#confirmDelete">
                                      
                                  </a> -->
          </h1>
          <p class="text primary"><b>Breed</b></p>
          <p class="text primary">
            Microshiped: <b class="text success">Yes</b>
          </p>
          <p class="text primary">Sex: <b>Male</b></p>
          <div class="cardAction">
            <a
              class="myBtn btnSm ml-auto"
              href="javascript:void(0)"
              data-toggle="modal"
              data-target="#viewPet"
              >View</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="customCard">
      <div class="cardImg">
        <img src="assets/images/petImg-1.png" alt="" />
      </div>
      <div class="cardContent">
        <div>
          <h1 class="cardTitle">
            Pet
            <div class="customDropdown dropdown">
              <a id="petAction" data-toggle="dropdown">
                <svg viewBox="0 0 4 18">
                  <use xlink:href="#eclipses"></use>
                </svg>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="petAction"
              >
                <a class="dropdown-item" href="#"> Edit </a>
                <a
                  class="dropdown-item text danger"
                  href="#"
                  data-toggle="modal"
                  data-target="#confirmDelete"
                >
                  Delete
                </a>
              </div>
            </div>
            <!-- <a class="text danger" href="javascript:void(0)" data-toggle="modal"
                                      data-target="#confirmDelete">
                                      
                                  </a> -->
          </h1>
          <p class="text primary"><b>Breed</b></p>
          <p class="text primary">
            Microshiped: <b class="text success">Yes</b>
          </p>
          <p class="text primary">Sex: <b>Male</b></p>
          <div class="cardAction">
            <a
              class="myBtn btnSm ml-auto"
              href="javascript:void(0)"
              data-toggle="modal"
              data-target="#viewPet"
              >View</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="customCard">
      <div class="cardImg">
        <img src="assets/images/petImg-1.png" alt="" />
      </div>
      <div class="cardContent">
        <div>
          <h1 class="cardTitle">
            Pet
            <div class="customDropdown dropdown">
              <a id="petAction" data-toggle="dropdown">
                <svg viewBox="0 0 4 18">
                  <use xlink:href="#eclipses"></use>
                </svg>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="petAction"
              >
                <a class="dropdown-item" href="#"> Edit </a>
                <a
                  class="dropdown-item text danger"
                  href="#"
                  data-toggle="modal"
                  data-target="#confirmDelete"
                >
                  Delete
                </a>
              </div>
            </div>
            <!-- <a class="text danger" href="javascript:void(0)" data-toggle="modal"
                                      data-target="#confirmDelete">
                                      
                                  </a> -->
          </h1>
          <p class="text primary"><b>Breed</b></p>
          <p class="text primary">
            Microshiped: <b class="text success">Yes</b>
          </p>
          <p class="text primary">Sex: <b>Male</b></p>
          <div class="cardAction">
            <a
              class="myBtn btnSm ml-auto"
              href="javascript:void(0)"
              data-toggle="modal"
              data-target="#viewPet"
              >View</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <div class="notFound">
          <img src="assets/images/noPetLover.png" alt="">
          <p>No Pet</p>
      </div>
  </div>
</div>
<div class="addMoreWrapper">
  <a class="addMore" href="#" data-toggle="modal" data-target="#addPet">+</a>
</div>
