<div class="modal fade" id="viewPet">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content customModal">
      <div class="modal-header">
        <h2 class="mainHeading">View</h2>
        <button class="myBtn square" data-dismiss="modal">x</button>
      </div>
      <div class="modal-body">
        <!-- <p class="text text-center">To create the purchase order, Please select the category first</p> -->
        <div class="viewProfile">
          <div class="updateProfile text-center">
            <div class="profileImg">
              <img
                [src]="pet.image"
                (error)="pet.image = 'assets/images/petImg-1.png'"
                [alt]="pet.name"
              />
            </div>
            <h2>{{ pet.name | titlecase }}</h2>
            <p>{{ pet.breed }}</p>
          </div>
          <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
              <div class="profileDetails">
                <span>Age</span>
                <p>{{ pet.age }}</p>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
              <div class="profileDetails">
                <span>Sex</span>
                <p>{{ pet.sex === 0 ? "Female" : "Male" }}</p>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
              <div class="profileDetails">
                <span>Microchiped</span>
                <p class="text success" *ngIf="pet.microchiped">Yes</p>
                <p class="text danger" *ngIf="!pet.microchiped">No</p>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
              <div class="profileDetails">
                <span>Vaccination</span>
                <p class="text success" *ngIf="pet.vaccination">Yes</p>
                <p class="text danger" *ngIf="!pet.vaccination">No</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="profileDetails">
                <span>Vaccine</span>
                <p>{{ pet.vaccineRecieved }}</p>
              </div>
            </div>
            <div
              class="col-12 col-md-6"
              *ngIf="pet.allergies && pet.allergies.list"
            >
              <div class="profileDetails">
                <span>Allergies</span> <br />
                <span
                  class="badge primary"
                  *ngFor="let allergy of pet.allergies.list"
                  >{{ allergy }}</span
                >
              </div>
            </div>
            <div
              class="col-12 col-md-6"
              *ngIf="pet.medications && pet.medications.list"
            >
              <div class="profileDetails">
                <span>Current/Pervious Medication</span>
                <p>{{ pet.medications.list[0] }}</p>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="profileDetails">
                <span>Last visit to Vet & Reason</span>
                <p>
                  {{
                    pet.lastVistDescription !== ""
                      ? pet.lastVistDescription
                      : "No"
                  }}
                </p>
              </div>
            </div>
            <div class="col-12" *ngIf="pet.details && pet.details.obj">
              <div class="profileDetails">
                <span>Detail</span>
                <p>
                  {{ pet.details.obj }}
                </p>
              </div>
            </div>
          </div>

          <div class="commentArea">
            <h2>Comments</h2>
            <div class="listingDesing">
              <div class="listItem" *ngFor="let comment of comments">
                <div class="userImgName">
                  <div class="profileImg">
                    <img
                      src="assets/images/profileImg.png"
                      [alt]="
                        comment.ServiceProvider && comment.ServiceProvider.name
                      "
                    />
                  </div>
                  <div class="comment">
                    <p class="mb-0">
                      {{
                        comment.ServiceProvider && comment.ServiceProvider.name
                      }}
                    </p>
                    <span>{{ comment.Comment }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="sendArea">
              <input type="file" class="attachmentBtn" />
              <textarea
                type="text"
                class="youMessage"
                placeholder="Type Your message here..."
              ></textarea>
              <button class="sendMsg">
                <svg viewBox="0 0 28 28">
                  <use xlink:href="#send"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
