<div class="customCard">
  <div class="cardImg">
    <img
      [src]="petLover.profileImage"
      (error)="petLover.profileImage = 'assets/images/user.png'"
      [alt]="petLover.name"
    />
  </div>
  <div class="cardContent">
    <div>
      <h1 class="cardTitle">
        {{ petLover.name }}
        <a
          class="text danger"
          href="javascript:void(0)"
          data-toggle="modal"
          data-target="#confirmDelete"
        >
          <svg viewBox="0 0 20 22">
            <use xlink:href="#delete"></use>
          </svg>
        </a>
      </h1>
      <a href="tel:{{ petLover.phone }}" class="text primary">{{
        petLover.phone
      }}</a>
      <p>{{ petLover.address }}</p>
      <p class="text primary">
        <b>No of Pets:</b> <b class="text success">3</b>
      </p>
      <div class="cardAction">
        <a href="mailto:{{ petLover.email }}" class="text primary">{{
          petLover.email
        }}</a>
        <div>
          <a class="myBtn btnSm" href="javascript:void(0)">Message</a>
          <a
            class="myBtn btnSm"
            data-toggle="modal"
            data-target="#viewProfile"
            >View</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmDelete">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content customModal">
      <div class="modal-body">
        <h2 class="modalTitle">Are you sure you want to Delete?</h2>
        <div class="formDesign">
          <div class="text-right">
            <a class="myBtn btnSm" data-dismiss="modal" (click)="delete()"
              >Yes</a
            >
            <a class="myBtn btnSm simple" data-dismiss="modal">No</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="viewProfile">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content customModal">
      <div class="modal-header">
        <h2 class="mainHeading">Profile</h2>
        <button class="myBtn square" data-dismiss="modal">x</button>
      </div>
      <div class="modal-body">
        <div class="formDesing" [formGroup]="profileForm">
          <div>
            <div class="updateProfile">
              <div class="profileImg">
                <img src="assets/images/profileImg.png" alt="" />
                <div class="customDropdown dropdown">
                  <button id="profilePic" data-toggle="dropdown">
                    <svg viewBox="0 0 12 12">
                      <use xlink:href="#edit"></use>
                    </svg>
                  </button>
                  <div
                    class="dropdown-menu dropdown-menu-right"
                    aria-labelledby="profilePic"
                  >
                    <a class="dropdown-item"> Upload Picture </a>
                    <a class="dropdown-item"> Remove Picture </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group formIcon">
              <label for="">Name</label>
              <input
                class="form-control"
                type="text"
                placeholder="Enter Name"
                formControlName="name"
                [ngClass]="{
                  redBorder:
                    profileForm.controls['name'].invalid &&
                    (profileForm.controls['name'].dirty ||
                      profileForm.controls['name'].touched)
                }"
              />
            </div>
            <div class="form-group formIcon">
              <label for="">Email</label>
              <input
                class="form-control"
                type="email"
                placeholder="Enter Email"
                formControlName="email"
                [ngClass]="{
                  redBorder:
                    profileForm.controls['email'].invalid &&
                    (profileForm.controls['email'].dirty ||
                      profileForm.controls['email'].touched)
                }"
              />
            </div>
            <div class="form-group formIcon">
              <label for="">Address</label>
              <input
                class="form-control"
                type="text"
                placeholder="Enter Address"
                formControlName="address"
              />
            </div>
          </div>
        </div>

        <div class="text-center">
          <a class="myBtn btnSm text-light" (click)="save()" id="saveProfileBtn"
            >Save</a
          >
        </div>
      </div>
    </div>
  </div>
</div> -->
