<div class="customCard">
  <div class="cardImg" [routerLink]="['/account', 'pets', petLover.profileId]">
    <img
      [src]="petLover.profileImage"
      (error)="petLover.profileImage = 'assets/images/user.png'"
      [alt]="petLover.name"
    />
  </div>
  <div class="cardContent">
    <div>
      <h1 class="cardTitle">
        <span [routerLink]="['/account', 'pets', petLover.profileId]">{{
          petLover.name
        }}</span>
        <a
          class="text danger"
          href="javascript:void(0)"
          data-toggle="modal"
          data-target="#confirmDelete"
        >
          <svg viewBox="0 0 20 22">
            <use xlink:href="#delete"></use>
          </svg>
        </a>
      </h1>
      <a href="tel:{{ petLover.phone }}" class="text primary">{{
        petLover.phone
      }}</a>
      <p>{{ petLover.address }}</p>
      <p class="text primary">
        <b>No of Pets:</b> <b class="text success">3</b>
      </p>
      <div class="cardAction">
        <a href="mailto:{{ petLover.email }}" class="text primary">{{
          petLover.email
        }}</a>
        <div>
          <a
            class="myBtn btnSm"
            [routerLink]="['/account', 'chat', petLover.id]"
            >Message</a
          >
          <a
            class="myBtn btnSm text-light"
            data-toggle="modal"
            data-target="#viewProfile"
            >View</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmDelete">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content customModal">
      <div class="modal-body">
        <h2 class="modalTitle">Are you sure you want to Delete?</h2>
        <div class="formDesign">
          <div class="text-right">
            <a
              class="myBtn btnSm text-light"
              data-dismiss="modal"
              (click)="delete()"
              >Yes</a
            >
            <a class="myBtn btnSm simple" data-dismiss="modal">No</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="viewProfile">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content customModal">
      <div class="modal-header">
        <h2 class="mainHeading">Profile</h2>
        <button class="myBtn square" data-dismiss="modal">x</button>
      </div>
      <div class="modal-body">
        <div class="formDesing">
          <div>
            <div class="updateProfile">
              <div class="profileImg">
                <img src="assets/images/profileImg.png" alt="" />
              </div>
            </div>
            <div class="form-group formIcon">
              <label for="">Name</label>
              <input
                class="form-control"
                type="text"
                [value]="petLover.name"
                readonly
              />
            </div>
            <div class="form-group formIcon">
              <label for="">Email</label>
              <input
                class="form-control"
                type="email"
                [value]="petLover.email"
                readonly
              />
            </div>
            <div class="form-group formIcon">
              <label for="">Phone</label>
              <input
                class="form-control"
                type="text"
                [value]="petLover.phoneNumber"
                readonly
              />
            </div>
          </div>
        </div>

        <div class="text-center">
          <a class="myBtn btnSm text-light" data-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>
