<section class="loginArea">
  <div class="container">
    <div class="loginHeader hideXs">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6">
          <a [routerLink]="['/']">
            <img src="assets/images/logo.png" alt="" />
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-6 text-right">
          <a class="myBtn" [routerLink]="['/signup']">Sign Up</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="formDesing" [formGroup]="authForm">
          <div>
            <h1>Your Pet is Part of Our Family</h1>
            <div class="form-group">
              <label for="">Email</label>
              <input
                class="form-control"
                type="text"
                placeholder="Enter Email"
                formControlName="username"
              />
            </div>
            <div class="form-group formIcon">
              <label for="">Password</label>
              <input
                class="form-control"
                type="password"
                placeholder="Enter Password"
                formControlName="password"
              />
              <!-- <div class="icon">
                                  <svg viewBox="0 0 18.697 16.36">
                                      <use xlink:href="#passwordIcon"></use>
                                  </svg>
                              </div> -->
            </div>

            <div class="acceptTerm">
              <div class="acceptCheck">
                <input class="customCheck" type="checkbox" id="accept" />
                <label for="accept">Remember me</label>
              </div>
              <a href="buildingList.html">Forgot Password?</a>
            </div>
            <br /><br />

            <div class="text-center">
              <button
                class="myBtn"
                [disabled]="isSubmitting"
                (click)="submitForm()"
              >
                Sign In
              </button>
              <p>
                Don't have an account? <a [routerLink]="['/signup']">Sign Up</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 hideSm">
        <img
          class="loginIllustration"
          src="assets/images/loginIllustration.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
