<div class="row">
  <div class="col-12 col-md-7 col-lg-6">
    <div class="customTabs">
      <a class="tab active" [routerLink]="['/account']">Service Provider</a>
      <a class="tab" [routerLink]="['/account', 'pets']">Your Pets</a>
    </div>
  </div>
  <div class="col-12 col-md-5 col-lg-6">
    <div class="searchWithBtn">
      <div class="searchWrapper">
        <div class="search">
          <input type="text" placeholder="Search for anything" />
          <button>
            <svg viewBox="0 0 24 24">
              <use xlink:href="#search"></use>
            </svg>
          </button>
          <div class="searhSuggestion d-none">
            <div class="suggetItem">
              <div class="userImg"><img src="assets/images/user.png" /></div>
              <h3>Anna-Marie Modeste</h3>
            </div>
          </div>
        </div>
      </div>
      <a class="myBtn ml-1" style="border-radius: 11px" [routerLink]="['/account', 'add-service-provider']">+ Add Service Provider</a>
    </div>
  </div>
</div>
<!-- <h1 class="mainHeading">Service Provider</h1> -->
<div class="row">
  <div class="col-12 col-md-6" *ngFor="let serviceProvider of serviceProviders; let i = index;">
    <app-provider [serviceProvider]="serviceProvider" [index]="i"></app-provider>
  </div>
</div>

<div class="row" *ngIf="!serviceProviders || serviceProviders.length === 0">
  <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <div class="notFound">
          <img src="assets/images/noProvider.png" alt="">
          <p>Not connected to any service provider</p>
      </div>
  </div>
</div>

<div class="addMoreWrapper">
  <a class="addMore" href="#">+</a>
</div>
