<div class="row">
  <div class="col-12 col-md-7 col-lg-6">
    <div class="customTabs">
      <a class="myBtn square mr-2" href="#">
        <svg viewBox="0 0 24 24">
          <use xlink:href="#backArrow"></use>
        </svg>
      </a>
      <h1 class="mainHeading">Pet Lovers</h1>
    </div>
  </div>
  <div class="col-12 col-md-5 col-lg-6">
    <div class="searchWrapper">
      <div class="search">
        <input type="text" placeholder="Search for anything" />
        <button>
          <svg viewBox="0 0 24 24">
            <use xlink:href="#search"></use>
          </svg>
        </button>
        <div class="searhSuggestion d-none">
          <div class="suggetItem">
            <div class="userImg"><img src="assets/images/user.png" /></div>
            <h3>Anna-Marie Modeste</h3>
          </div>
          <div class="suggetItem">
            <div class="userImg"><img src="assets/images/user.png" /></div>
            <h3>Anna-Marie Modeste</h3>
          </div>
          <div class="suggetItem">
            <div class="userImg"><img src="assets/images/user.png" /></div>
            <h3>Anna-Marie Modeste</h3>
          </div>
          <div class="suggetItem">
            <div class="userImg"><img src="assets/images/user.png" /></div>
            <h3>Anna-Marie Modeste</h3>
          </div>
          <div class="suggetItem">
            <div class="userImg"><img src="assets/images/user.png" /></div>
            <h3>Anna-Marie Modeste</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-12 col-md-4 col-lg-3">
    <div class="profileSide">
      <div class="profileHeader">
        <div class="profileImg">
          <img src="assets/images/profileImg.png" alt="" />
        </div>
        <h1 class="mainHeading">Pet Lovers</h1>
      </div>
      <div class="profileBody">
        <div class="profileDetails">
          <span>Phone #:</span>
          <p>0123467079</p>
        </div>
        <div class="profileDetails">
          <span>Email:</span>
          <p>petlover12@gmail.com</p>
        </div>
        <div class="profileDetails">
          <span>Address:</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae esid
            dign is sim adipiscing euismod iaculis et neque.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8 col-lg-9">
    <div class="chatWrapper">
      <div class="chatHeader">
        <div class="profileName">
          <div class="profileImg active">
            <img src="assets/images/profileImg.png" alt="" />
          </div>
          <span>Dr Sansa Stark</span>
        </div>
        <div class="callingButtons">
          <button>
            <svg viewBox="0 0 20 20">
              <use xlink:href="#call"></use>
            </svg>
          </button>
          <button>
            <svg viewBox="0 0 23 14">
              <use xlink:href="#video"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="ChatArea clearfix">
        <div class="MsgSent">
          <div class="Message">
            My Name is <b>User Name</b>, <br />
            I have completed all courses with A Grade I want to apply for degree
            through online portal.
          </div>
          <div class="massanger">
            <div class="userImg">
              <img src="assets/images/userImg-1.png" />
            </div>

            <div class="name">Me</div>
            <div class="time">12 June 2020</div>
          </div>
        </div>
        <div class="dateSpliter"><span>Today</span></div>
        <div class="MsgRecived">
          <div class="Message">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim adven. Nibh euismod tincidunt ut laoreet
            dolore
          </div>
          <div class="massanger">
            <div class="userImg">
              <img src="assets/images/user.png" />
            </div>
            <div class="name">Pet Lover</div>
            <div class="time">12 June 2020</div>
          </div>
        </div>
        <div class="MsgSent">
          <div class="Message">My Name is <b>User Name</b></div>
          <div class="Message">
            My Name is <b>User Name</b>, <br />
            I have completed all courses with A Grade I want to apply for degree
            through online portal.
          </div>
          <div class="massanger">
            <div class="userImg">
              <img src="assets/images/userImg-1.png" />
            </div>

            <div class="name">Me</div>
            <div class="time">12 June 2020</div>
          </div>
        </div>
        <div class="dateSpliter"><span>Today</span></div>
        <div class="MsgRecived">
          <div class="Message">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim adven. Nibh euismod tincidunt ut laoreet
            dolore
          </div>
          <div class="massanger">
            <div class="userImg">
              <img src="assets/images/user.png" />
            </div>
            <div class="name">Pet Lover</div>
            <div class="time">12 June 2020</div>
          </div>
        </div>
        <div class="MsgSent">
          <div class="Message">
            My Name is <b>User Name</b>, <br />
            I have completed all courses with A Grade I want to apply for degree
            through online portal.
          </div>
          <div class="massanger">
            <div class="userImg">
              <img src="assets/images/userImg-1.png" />
            </div>

            <div class="name">Me</div>
            <div class="time">12 June 2020</div>
          </div>
        </div>
        <div class="dateSpliter"><span>Today</span></div>
        <div class="MsgRecived">
          <div class="Message">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim adven. Nibh euismod tincidunt ut laoreet
            dolore
          </div>
          <div class="massanger">
            <div class="userImg">
              <img src="assets/images/user.png" />
            </div>
            <div class="name">Pet Lover</div>
            <div class="time">12 June 2020</div>
          </div>
        </div>
      </div>
      <div class="sendArea">
        <textarea
          type="text"
          class="youMessage"
          placeholder="Type Your message here..."
        ></textarea>
        <button class="sendMsg">
          <svg viewBox="0 0 28 28">
            <use xlink:href="#send"></use>
          </svg>
        </button>
        <input type="file" class="attachmentBtn" />
      </div>
    </div>
  </div>
</div>
