<div class="row">
  <div class="col-12 col-md-7 col-lg-6">
    <div class="customTabs">
      <a class="tab" href="#">Connected Pet Lovers</a>
      <a class="tab active" href="#">Requests</a>
    </div>
  </div>
  <div class="col-12 col-md-5 col-lg-6">
    <div class="searchWrapper">
      <div class="search">
        <input type="text" placeholder="Search for anything" />
        <button>
          <svg viewBox="0 0 24 24">
            <use xlink:href="#search"></use>
          </svg>
        </button>
        <div class="searhSuggestion d-none">
          <div class="suggetItem">
            <div class="userImg"><img src="assets/images/user.png" /></div>
            <h3>Anna-Marie Modeste</h3>
          </div>
          <div class="suggetItem">
            <div class="userImg"><img src="assets/images/user.png" /></div>
            <h3>Anna-Marie Modeste</h3>
          </div>
          <div class="suggetItem">
            <div class="userImg"><img src="assets/images/user.png" /></div>
            <h3>Anna-Marie Modeste</h3>
          </div>
          <div class="suggetItem">
            <div class="userImg"><img src="assets/images/user.png" /></div>
            <h3>Anna-Marie Modeste</h3>
          </div>
          <div class="suggetItem">
            <div class="userImg"><img src="assets/images/user.png" /></div>
            <h3>Anna-Marie Modeste</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- table starts here -->

<div class="listingDesing">
  <div class="listItem">
    <div class="userImgName">
      <div class="profileImg">
        <img src="assets/images/profileImg.png" alt="" />
      </div>
      <p>George Lucas</p>
    </div>
    <div class="petNumber">
      <span class="text primary">peter12@gamil.com</span>
    </div>
    <div class="listAction">
      <a class="myBtn btnSm success" href="#">Approved</a>
      <a class="myBtn btnSm danger" href="#">Rejected</a>
    </div>
  </div>
  <div class="listItem">
    <div class="userImgName">
      <div class="profileImg">
        <img src="assets/images/profileImg.png" alt="" />
      </div>
      <p>George Lucas</p>
    </div>
    <div class="petNumber">
      <span class="text primary">peter12@gamil.com</span>
    </div>
    <div class="listAction">
      <a class="myBtn btnSm success" href="#">Approved</a>
      <a class="myBtn btnSm danger" href="#">Rejected</a>
    </div>
  </div>
  <div class="listItem">
    <div class="userImgName">
      <div class="profileImg">
        <img src="assets/images/profileImg.png" alt="" />
      </div>
      <p>George Lucas</p>
    </div>
    <div class="petNumber">
      <span class="text primary">peter12@gamil.com</span>
    </div>
    <div class="listAction">
      <a class="myBtn btnSm success" href="#">Approved</a>
      <a class="myBtn btnSm danger" href="#">Rejected</a>
    </div>
  </div>
  <div class="listItem">
    <div class="userImgName">
      <div class="profileImg">
        <img src="assets/images/profileImg.png" alt="" />
      </div>
      <p>George Lucas</p>
    </div>
    <div class="petNumber">
      <span class="text primary">peter12@gamil.com</span>
    </div>
    <div class="listAction">
      <a class="myBtn btnSm success" href="#">Approved</a>
      <a class="myBtn btnSm danger" href="#">Rejected</a>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <div class="notFound">
          <img src="assets/images/noRequests.png" alt="">
          <p>No Request Recive</p>
      </div>
  </div>
</div>