<div class="row">
  <div class="col-12 col-md-7 col-lg-6">
    <div class="customTabs">
      <a class="tab active" href="#">Connected Pet Lovers</a>
      <a class="tab" href="#">Requests</a>
    </div>
  </div>
  <div class="col-12 col-md-5 col-lg-6">
    <div class="searchWrapper">
      <div class="search">
        <input type="text" placeholder="Search for anything" />
        <button>
          <svg viewBox="0 0 24 24">
            <use xlink:href="#search"></use>
          </svg>
        </button>
        <div class="searhSuggestion d-none">
          <div class="suggetItem">
            <div class="userImg"><img src="assets/images/user.png" /></div>
            <h3>Anna-Marie Modeste</h3>
          </div>
          <div class="suggetItem">
            <div class="userImg"><img src="assets/images/user.png" /></div>
            <h3>Anna-Marie Modeste</h3>
          </div>
          <div class="suggetItem">
            <div class="userImg"><img src="assets/images/user.png" /></div>
            <h3>Anna-Marie Modeste</h3>
          </div>
          <div class="suggetItem">
            <div class="userImg"><img src="assets/images/user.png" /></div>
            <h3>Anna-Marie Modeste</h3>
          </div>
          <div class="suggetItem">
            <div class="userImg"><img src="assets/images/user.png" /></div>
            <h3>Anna-Marie Modeste</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h1 class="mainHeading">Pet Lovers</h1>
<div class="row">
  <div class="col-12 col-md-6">
    <div class="customCard">
      <div class="cardImg">
        <img src="assets/images/userImg-1.png" alt="" />
      </div>
      <div class="cardContent">
        <div>
          <h1 class="cardTitle">
            Pet Lover
            <a
              class="text danger"
              href="javascript:void(0)"
              data-toggle="modal"
              data-target="#confirmDelete"
            >
              <svg viewBox="0 0 20 22">
                <use xlink:href="#delete"></use>
              </svg>
            </a>
          </h1>
          <a href="tel:+9123456789" class="text primary">+9123456789</a>
          <p>
            Lorem ipsum dolor sit amet, adipiscing elit. Odio leo ipsum netus .
          </p>
          <p class="text primary">
            <b>No of Pets:</b> <b class="text success">3</b>
          </p>
          <div class="cardAction">
            <a href="mailto:peter12@gamil.com" class="text primary"
              >+9123456789</a
            >
            <div>
              <a class="myBtn btnSm" href="javascript:void(0)">Message</a>
              <a
                class="myBtn btnSm"
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#viewProfile"
                >View</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="customCard">
      <div class="cardImg">
        <img src="assets/images/userImg-1.png" alt="" />
      </div>
      <div class="cardContent">
        <div>
          <h1 class="cardTitle">
            Pet Lover
            <a
              class="text danger"
              href="javascript:void(0)"
              data-toggle="modal"
              data-target="#confirmDelete"
            >
              <svg viewBox="0 0 20 22">
                <use xlink:href="#delete"></use>
              </svg>
            </a>
          </h1>
          <a href="tel:+9123456789" class="text primary">+9123456789</a>
          <p>
            Lorem ipsum dolor sit amet, adipiscing elit. Odio leo ipsum netus .
          </p>
          <p class="text primary">
            <b>No of Pets:</b> <b class="text success">3</b>
          </p>
          <div class="cardAction">
            <a href="mailto:peter12@gamil.com" class="text primary"
              >+9123456789</a
            >
            <div>
              <a class="myBtn btnSm" href="javascript:void(0)">Message</a>
              <a
                class="myBtn btnSm"
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#viewProfile"
                >View</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="customCard">
      <div class="cardImg">
        <img src="assets/images/userImg-1.png" alt="" />
      </div>
      <div class="cardContent">
        <div>
          <h1 class="cardTitle">
            Pet Lover
            <a
              class="text danger"
              href="javascript:void(0)"
              data-toggle="modal"
              data-target="#confirmDelete"
            >
              <svg viewBox="0 0 20 22">
                <use xlink:href="#delete"></use>
              </svg>
            </a>
          </h1>
          <a href="tel:+9123456789" class="text primary">+9123456789</a>
          <p>
            Lorem ipsum dolor sit amet, adipiscing elit. Odio leo ipsum netus .
          </p>
          <p class="text primary">
            <b>No of Pets:</b> <b class="text success">3</b>
          </p>
          <div class="cardAction">
            <a href="mailto:peter12@gamil.com" class="text primary"
              >+9123456789</a
            >
            <div>
              <a class="myBtn btnSm" href="javascript:void(0)">Message</a>
              <a
                class="myBtn btnSm"
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#viewProfile"
                >View</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="customCard">
      <div class="cardImg">
        <img src="assets/images/userImg-1.png" alt="" />
      </div>
      <div class="cardContent">
        <div>
          <h1 class="cardTitle">
            Pet Lover
            <a
              class="text danger"
              href="javascript:void(0)"
              data-toggle="modal"
              data-target="#confirmDelete"
            >
              <svg viewBox="0 0 20 22">
                <use xlink:href="#delete"></use>
              </svg>
            </a>
          </h1>
          <a href="tel:+9123456789" class="text primary">+9123456789</a>
          <p>
            Lorem ipsum dolor sit amet, adipiscing elit. Odio leo ipsum netus .
          </p>
          <p class="text primary">
            <b>No of Pets:</b> <b class="text success">3</b>
          </p>
          <div class="cardAction">
            <a href="mailto:peter12@gamil.com" class="text primary"
              >+9123456789</a
            >
            <div>
              <a class="myBtn btnSm" href="javascript:void(0)">Message</a>
              <a
                class="myBtn btnSm"
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#viewProfile"
                >View</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="customCard">
      <div class="cardImg">
        <img src="assets/images/userImg-1.png" alt="" />
      </div>
      <div class="cardContent">
        <div>
          <h1 class="cardTitle">
            Pet Lover
            <a
              class="text danger"
              href="javascript:void(0)"
              data-toggle="modal"
              data-target="#confirmDelete"
            >
              <svg viewBox="0 0 20 22">
                <use xlink:href="#delete"></use>
              </svg>
            </a>
          </h1>
          <a href="tel:+9123456789" class="text primary">+9123456789</a>
          <p>
            Lorem ipsum dolor sit amet, adipiscing elit. Odio leo ipsum netus .
          </p>
          <p class="text primary">
            <b>No of Pets:</b> <b class="text success">3</b>
          </p>
          <div class="cardAction">
            <a href="mailto:peter12@gamil.com" class="text primary"
              >+9123456789</a
            >
            <div>
              <a class="myBtn btnSm" href="javascript:void(0)">Message</a>
              <a
                class="myBtn btnSm"
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#viewProfile"
                >View</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="customCard">
      <div class="cardImg">
        <img src="assets/images/userImg-1.png" alt="" />
      </div>
      <div class="cardContent">
        <div>
          <h1 class="cardTitle">
            Pet Lover
            <a
              class="text danger"
              href="javascript:void(0)"
              data-toggle="modal"
              data-target="#confirmDelete"
            >
              <svg viewBox="0 0 20 22">
                <use xlink:href="#delete"></use>
              </svg>
            </a>
          </h1>
          <a href="tel:+9123456789" class="text primary">+9123456789</a>
          <p>
            Lorem ipsum dolor sit amet, adipiscing elit. Odio leo ipsum netus .
          </p>
          <p class="text primary">
            <b>No of Pets:</b> <b class="text success">3</b>
          </p>
          <div class="cardAction">
            <a href="mailto:peter12@gamil.com" class="text primary"
              >+9123456789</a
            >
            <div>
              <a class="myBtn btnSm" href="javascript:void(0)">Message</a>
              <a
                class="myBtn btnSm"
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#viewProfile"
                >View</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
