<div class="customCard">
  <div class="cardImg">
    <img src="assets/images/docImg-1.png" alt="" />
  </div>
  <div class="cardContent">
    <div>
      <h1 class="cardTitle">
        Doctor
        <a
          class="text danger"
          href="javascript:void(0)"
          data-toggle="modal"
          data-target="#confirmDelete"
        >
          <svg viewBox="0 0 20 22">
            <use xlink:href="#delete"></use>
          </svg>
        </a>
      </h1>
      <a href="tel:+9123456789" class="text primary">+9123456789</a>
      <p class="text primary">specialization</p>
      <p>Lorem ipsum dolor sit amet, adipiscing elit. Odio leo ipsum netus .</p>
    </div>
  </div>
</div>
