<div class="customCard">
  <div class="cardImg">
    <img
      [src]="serviceProvider.profileImage"
      (error)="serviceProvider.profileImage = 'assets/images/user.png'"
      [alt]="serviceProvider.name"
    />
  </div>
  <div class="cardContent">
    <div>
      <h1 class="cardTitle">
        {{ serviceProvider.name }}
        <a
          class="text danger"
          data-toggle="modal"
          data-target="#confirmDelete"
          *ngIf="!sendRequest"
        >
          <svg viewBox="0 0 20 22">
            <use xlink:href="#delete"></use>
          </svg>
        </a>
      </h1>
      <a [href]="'tel:' + serviceProvider.phone" class="text primary">{{
        serviceProvider.phone
      }}</a>
      <p class="text primary">
        {{ serviceProvider.services && serviceProvider.services.join(",") }}
      </p>
      <p><i class="fa fa-map-marker"></i> {{ serviceProvider.address }}</p>
      <a
        class="myBtn btnSm pull-right text-light"
        *ngIf="sendRequest"
        (click)="sendRequestToProvider()"
      >
        Send Request
      </a>

      <div *ngIf="!sendRequest" class="text-right">
        <a class="myBtn btnSm" href="javascript:void(0)">Message</a>
        <a
          class="myBtn btnSm text-light"
          data-toggle="modal"
          data-target="#viewProfile"
          >View</a
        >
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirmDelete">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content customModal">
      <div class="modal-body">
        <h2 class="modalTitle">Are you sure you want to Delete?</h2>
        <div class="formDesign">
          <div class="text-right">
            <a
              class="myBtn btnSm text-light"
              data-dismiss="modal"
              (click)="delete()"
              >Yes</a
            >
            <a class="myBtn btnSm simple" data-dismiss="modal">No</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="viewProfile">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content customModal">
      <div class="modal-header">
        <h2 class="mainHeading">Profile</h2>
        <button class="myBtn square" data-dismiss="modal">x</button>
      </div>
      <div class="modal-body">
        <div class="formDesing">
          <div>
            <div class="updateProfile">
              <div class="profileImg">
                <img src="assets/images/profileImg.png" alt="" />
              </div>
            </div>
            <div class="form-group formIcon">
              <label for="">Name</label>
              <input
                class="form-control"
                type="text"
                [value]="serviceProvider.name"
                readonly
              />
            </div>
            <div class="form-group formIcon">
              <label for="">Email</label>
              <input
                class="form-control"
                type="email"
                [value]="serviceProvider.email"
                readonly
              />
            </div>
            <div class="form-group formIcon">
              <label for="">Phone</label>
              <input
                class="form-control"
                type="text"
                [value]="serviceProvider.phoneNumber"
                readonly
              />
            </div>
          </div>
        </div>

        <div class="text-center">
          <a class="myBtn btnSm text-light" data-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>
