<div class="modal fade" id="userProfile">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content customModal">
      <div class="modal-header">
        <h2 class="mainHeading">Profile</h2>
        <button class="myBtn square" data-dismiss="modal">x</button>
      </div>
      <div class="modal-body">
        <div class="formDesing" [formGroup]="profileForm">
          <div>
            <div class="updateProfile">
              <div class="profileImg">
                <img src="assets/images/profileImg.png" alt="" />
                <div class="customDropdown dropdown">
                  <button id="profilePic" data-toggle="dropdown">
                    <svg viewBox="0 0 12 12">
                      <use xlink:href="#edit"></use>
                    </svg>
                  </button>
                  <div
                    class="dropdown-menu dropdown-menu-right"
                    aria-labelledby="profilePic"
                  >
                    <a class="dropdown-item"> Upload Picture </a>
                    <a class="dropdown-item"> Remove Picture </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group formIcon">
              <label for="">Name</label>
              <input
                class="form-control"
                type="text"
                placeholder="Enter Name"
                formControlName="name"
                [ngClass]="{
                  redBorder:
                    profileForm.controls['name'].invalid &&
                    (profileForm.controls['name'].dirty ||
                      profileForm.controls['name'].touched)
                }"
              />
            </div>
            <div class="form-group formIcon">
              <label for="">Email</label>
              <input
                class="form-control"
                type="email"
                placeholder="Enter Email"
                formControlName="email"
                [ngClass]="{
                  redBorder:
                    profileForm.controls['email'].invalid &&
                    (profileForm.controls['email'].dirty ||
                      profileForm.controls['email'].touched)
                }"
              />
            </div>
            <div class="form-group formIcon">
              <label for="">Address</label>
              <input
                class="form-control"
                type="text"
                placeholder="Enter Address"
                formControlName="address"
              />
            </div>
          </div>
        </div>

        <div class="text-center">
          <a class="myBtn btnSm" (click)="save()" id="saveProfileBtn">Save</a>
        </div>
      </div>
    </div>
  </div>
</div>
